platform: x64
version: 1.0.{build}
# cache:
#   - 'C:\cache'
environment: 
  SBCL_HOME: 'C:\cache\sbcl'
install:
  - ps: md -Force C:\cache |Out-Null
  - cmd: curl -L -o C:\cache\sbcl.msi "http://prdownloads.sourceforge.net/sbcl/sbcl-1.4.14-x86-64-windows-binary.msi"
  - cmd: curl -L -o C:\cache\quicklisp.lisp "https://beta.quicklisp.org/quicklisp.lisp"
  - cmd: start /wait msiexec /i C:\cache\sbcl.msi /quiet /qn /norestart /log sbcl-install.log INSTALLDIR=C:\cache\sbcl
  - cmd: C:\Cache\sbcl\sbcl --non-interactive --load C:\cache\quicklisp.lisp --eval "(quicklisp-quickstart:install)" --eval "(ql-util:without-prompting (ql:add-to-init-file))"
  - cmd: git clone --depth=1 "https://github.com/lispnik/tecgraf-libs.git" "C:\Users\appveyor\quicklisp\local-projects\tecgraf-libs"
  - cmd: git clone --depth=1 "https://github.com/lispnik/pffft.git" "C:\Users\Appveyor\quicklisp\local-projects\pffft"
  - cmd: git clone --depth=1 "https://github.com/lispnik/tecgraf-base.git" "C:\Users\appveyor\quicklisp\local-projects\tecgraf-base"
  - cmd: git clone --depth=1 "https://github.com/lispnik/im.git" "C:\Users\Appveyor\quicklisp\local-projects\im"
  - cmd: git clone --depth=1 "https://github.com/lispnik/cd.git" "C:\Users\Appveyor\quicklisp\local-projects\cd"
  - cmd: setx PATH "%PATH%;C:\Users\Appveyor\quicklisp\local-projects\tecgraf-libs\libs"
  - cmd: C:\Cache\sbcl\sbcl --non-interactive --eval "(ql:quickload '(:tecgraf-libs :pffft :tecgraf-base :im :cd :iup :iup-controls))"
build: off
test: off






# platform: x64
# cache:
#   - C:\cache
# environment:
#   SBCL_VERSION: '1.4.14'
#   SBCL_HOME: %PROGRAMFILES%\'Steel Bank Common Lisp'\%SBCL_VERSION%
#   CACHE: "C:\cache"
# install:
#   - cmd: curl "https://beta.quicklisp.org/quicklisp.lisp" -o %CACHE%\quicklisp.lisp
#   - cmd: curl "http://prdownloads.sourceforge.net/sbcl/sbcl-"%SBCL_VERSION%"-x86-64-windows-binary.msi" -o %CACHE%\sbcl-%SBCL_VERSION%-x86-64-windows-binary.msi
#   - cmd: start /wait msiexec /i %CACHE%\sbcl-%SBCL_VERSION%-x86-64-windows-binary.msi /quiet /qn /norestart /log sbcl-install.log
#   - cmd: %SBCL_HOME%\sbcl --noinform --non-interactive --load %CACHE\quicklisp.lisp --eval "(quicklisp-quickstart:install)"
#   - cmd: git clone --depth=1 "https://github.com/lispnik/im.git" "c:\quicklisp\local-projects\im"
#   - cmd: git clone --depth=1 "https://github.com/lispnik/cd.git" "c:\quicklisp\local-projects\cd"
#   - cmd: git clone --depth=1 "https://github.com/lispnik/pfft.git" "c:\quicklisp\local-projects\pffft"
#   - cmd: git clone --depth=1 "https://github.com/lispnik/tecgraf-libs.git" "c:\quicklisp\local-projects\tecgraf-libs"
